DATABASE_URL=POSTGRES_CONNECTION_URI_HERE
DOMAIN=DOMAIN
NEXT_PUBLIC_BACKEND="/api/"
MAILTRAPTOKEN=MAILTRAP_TOKEN_SECRET_HERE
JWT_SECRET=THIS_IS_very_very_Secret_key_for_JWT_SHHHHH..
NEXTAUTH_SECRET=NEXT_AUTH_Secret
GITHUB_ID=GITHUB_PROVIDER_ID_HERE
GITHUB_SECRET=GITHUB_PROVIDER_SECRET_HERE